<% console.log(error.length); %>

<% if (error.length > 0) { %>
<div class="error-container container">
    <div class="alert alert-danger">
        <h3> Das hat leider nicht geklappt </h3>
        <ul>
            <% for(var i = 0; i < error.length; i++) { %>
            <li><%= error[i] %></li>
            <% } %>
        </ul>
    </div>
</div>
<% } %>