
<% if (error != null) { %>
<div class="alert alert-danger">
    <h3> Huch, das hat leider nicht geklappt </h3>
    <ul>
        <% for(var i = 0; i < error.length; i++) { %>
        <li><%= error[i] %></li>
        <% } %>
    </ul>
</div>
<% } %>