<% if (page === '/dashboard' || page === '/register') { %>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GMS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <% if (userRole === 'admin' && authenticated === true) { %>
                <li>
                    <a data-toggle="modal" data-target="#addaticle">Neuen Artikel anlegen</a>
                </li>
                <li>
                    <!-- Button trigger modal -->
                    <a data-toggle="modal" data-target="#register">neuen Benutzer anlegen</a>
                </li>


                
                
                

                <li>
                    <a data-toggle="modal" data-target="#showordersadmin">Bestellhistory</a>
                </li>
                <% } else { }%>

                <% if (userRole === 'bar' && authenticated === true) { %>   
                    <li>
                        <a data-toggle="modal" data-target="#showorders">Bestellhistory</a>
                    </li>
                    <% } else { }%>

            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input id="search" type="text" class="form-control" placeholder="Suche">
                </div>
                <button id="searchbtn" type="submit" class="btn btn-default">suchen</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-link">eingeloggt als: <i class="fa fa-user"></i>  <%= userRole %></a></li>
                <li><a href="/logout"> <i class="fa fa-sign-out"></i> abmelden</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<% } %>