<!--jQuery Javascript Bibliothek-->
<script src="/static/js/jquery.min.js"></script>
<!--Bootstrap Javascript-->
<script src="/static/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

<!--Eigenes Javascript -->
<script>

    //Animation f체r die gr체nen Notifications
    $(document).ready(function () {
        var note = $('.notification');
        note.animate({right: '50px'}, 1000).delay(2000).animate({right: '-250px'}, 1000).fadeOut(500);

        var error = $('.error-container');
        error.delay(5000).fadeOut(500);
    });

    // Script f체r die Bestelloberfl채che der Bar, -> die Selectfelder

    $('.btn-number').click(function (e) {
        e.preventDefault();

        var btn = $(this);
        fieldName = $(this).attr('data-field');
        type = $(this).attr('data-type');
        var input = btn.closest('.number-spinner').find('input');
        var currentVal = parseInt(input.val());

        if (!isNaN(currentVal)) {
            if (type == 'minus') {

                if (currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                }
                if (parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if (type == 'plus') {

                if (currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
                if (parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }
            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function () {
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

        minValue = parseInt($(this).attr('min'));
        maxValue = parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        name = $(this).attr('name');
        if (valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
            $(this).closest('.article__box').append('<span class="label label-danger">Sorry, der Minimalwert wurde erreicht!</span>');
            $('.label-danger').delay(2000).fadeOut(500);
            $(this).val($(this).data('oldValue'));
        }
        if (valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
            $(this).closest('.article__box').append('<span class="label label-danger">Sorry, der Maximalwert wurde erreicht!</span>');
            $('.label-danger').delay(2000).fadeOut(500);
            $(this).val($(this).data('oldValue'));

        }
    });


    (function ($) {

        function listFilter() {

            var searchInput = $('#search');
            var resetButton = $('#resetbtn');
            var list = $('.article-list');


            jQuery.expr[':'].Contains = function (a, i, m) {
                return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
            };

            $(searchInput).change(function () {
                // get the value of the input field so we can filter the results
                var filter = $(this).val();
                if (filter) {
                    //$(list).find('div[data-keyword=' + $(this).val() + ']').show();
                    $(list).find(".filter-helper:not(:Contains(" + filter + "))").parent().slideUp();
                    console.log($(this).val());

                    //$(list).find('div:not([data-keyword=' + $(this).val() + '])').hide();
                    $(list).find(".filter-helper:Contains(" + filter + ")").parent().slideDown();
                } else {
                    $(list).find('.article-list__item').slideDown();
                }
                return false;

            })
            .keyup(function () {
                $(this).change();
            });

            $(resetButton).click( function () {
                $(list).find('.article-list__item').slideDown();
            });
        }

        $(function () {
            listFilter();
        });
    }(jQuery));


</script>



