body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body.Home {
  background: url("../images/glasses.svg") no-repeat #272b30;
  background-size: contain;
}

input {
  background-color: #e5e5e5!important;
}

.login-field {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.background:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/glasses.svg") no-repeat #272b30;
  background-size: contain;

}

.error-container {
  position: relative;
  z-index: 10;
}

@media (min-width:600px){
  .login-field {
    width: 50%;
  }
  .login-field .box{
    width: 350px;
    margin: 0 auto;
  }
}

.notification {
  position: absolute;
  z-index:10;
  top: 80px;
  right: -250px;
}

.article__box {
  min-height: 200px;
  padding: 10px;
}
h2 {
  font-size: 20px;
}

/* für Tablet und größere Formate - 5 Spalten erzwingen */
@media (min-width: 1024px){
  .article__box {
    min-height: 160px;
  }
  .col-half-offset{
    margin-left: 0.166667%;
  }
  .col-sm-2 {
    width: 19.666667%;
  }
}


