body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.notification {
  position: absolute;
  z-index:10;
  top: 80px;
  right: -250px;
}

.article__box {
  min-height: 200px;
}

